<form action="/addproject" method="POST">
    <label class="label-input" for="projectname">Project name: </label>
    <input class="form-control" type="text" name="projectname" id="projectname" required><br>

    <input class="btn btn-default" type="submit">
</form>

<hr>
<div id="list_of_projects">
    <p>List of projects:</p>
    <ul id="projects">
        {{#each projects}}
            <li class="each-project">
                {{this.projectname}}

                <form action="/project/delete" method="post">
                    <input hidden value="{{this._id}}" name="projId">
                    <button class="delete-proj" type="submit">X</button>
                </form>
            </li>
            <hr>
        {{/each}}
    </ul>
</div>