<form action="/projects/add" method="POST">
    <label class="label-input" for="projectname">Project name: </label>
    <input class="form-control" type="text" name="projectname" id="projectname" required><br>

    <button class="btn btn-default" type="submit">Send</button>
</form>

<hr>
<div id="list_of_projects">
    <p>List of projects:</p>
    <ul id="projects">
        {{#each projects}}
            <li class="each-project">
                {{this.projectname}}
                <form action="/projects/delete" method="post">
                    <input hidden value="{{this._id}}" name="projId">
                    <button class="delete-proj btn-default" type="submit">X</button>
                </form>
                <form class="edit-form" action="/projects/edit" method="post">
                    <input hidden value="{{this._id}}" name="projId">
                    <input type="text" name="newProjName">
                    <button class="btn-default" type="submit">edit</button>
                </form>
            </li>
            <hr>
        {{/each}}
    </ul>
</div>