@font-face {
    font-family: 'ubuntu-regular';
    src:  url('../fonts/Ubuntu-Regular.woff');
}

@font-face {
    font-family: 'ubuntu-bold';
    src:  url('../fonts/Ubuntu-Bold.woff');
}

#expor_form input,
#expor_form select{
    margin-bottom: 20px;
}

#expor_form p{
    font-family: 'ubuntu-regular';
    font-weight: bold;
    margin-left: 15%;
}

#first_hours_input{
    margin-bottom: 6px !important;
}

#welcome{
    font-family: ubuntu-regular;
    font-size: 24px;
    text-align: center;
}

#list_of_projects ul li{
    font-family: ubuntu-regular;
    font-size: 16px;
}

#list_of_projects p{
    font-family: ubuntu-regular;
    font-weight: bold;
    font-size: 18px;
}

#main_container h3{
    font-size: 40px;
}

.header-a{
    font-size: 20px;
}

.label-input{
    font-family: ubuntu-regular;
    font-size: 18px;
}

#add_daily_task_form{
    margin-top: 18px;
}

#add_daily_task_form select{
    display: block;
    margin-bottom: 20px;
}

.footer{
    text-align: center
}

#add_daily_task_form input{
    display: block;
    margin-bottom: 20px;
}

#description_input{
    display: block;
    height: 70px;
    width: 30%;
}

#first_hours_input{
     width: 30%;
}

#second_hours_input{
    width: 30%;
}

.tasks-nav{
    text-align: center;
}

.tasks-nav div{
    display: inline-block;
    font-size: 18px;
    width: 21%;
    font-family: ubuntu-regular;
    font-weight: bold;
}

.tasks{
    text-align: center;
    margin-top: 10px;
}

.tasks div{
    display: inline-block;
    font-size: 16px;
    width: 21%;
    font-family: ubuntu-regular;
}

#projects .each-project{
    position: relative;
    margin: 20px 0;
}

#projects .delete-proj{
    position: absolute;
    right: 2%;
    top: 0;
    height: 34px;
    width: 34px;

}

.edit-form{
    position: absolute;
    top: 0;
    right: 28%;
}

.edit-form input{
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.edit-form input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}


.btn-default{
    border: 1px #696969 solid;
    color: #696969;
    background-color: white;
    height: 34px;
    border-radius: 4px;
    font-family: ubuntu-regular;
    transition: background-color 0.4s ease;
}

.btn-default:hover{
    border: 1px white solid;
    color: white;
    background-color: #696969;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #cdcdcd;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #cdcdcd;
}